@model User
@{
    ViewData["Title"] = "Ma Liste de users";
}

<form asp-action="Create">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email"/>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password"/>

    </div>

    <div>
        <label asp-for="IsAdmin"></label>
        <input type="checkbox" asp-for="IsAdmin"/>

    </div>

    

    

    <div>
        <input type="submit"/>
    </div>

    

</form>
